<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/securevyom-favicon-32x32.png" type="image/x-icon">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/aboutCss.css">
    <title>About</title>
</head>
<header>
    <div class="tagline">
        <h2>Secure your future with SecureVyom – Where Security Meets Excellence.</h2>
    </div>
</header>
<body>
    <div id="container">
        <div id="hero-section">
            <div id="nav-bar-section">
                <div id="nav-bar-logo-section">
                    
                </div>
                <div id="nav-bar-page-section">
                    <div class="page-link-btn">
                        <form action="/about" method="get">
                            <input type="submit" value="About us">
                        </form>
                    </div>
                    <div class="page-link-btn">
                        <form action="/services" method="get">
                            <input type="submit" value="Our Services">
                        </form>
                    </div>
                    <div class="page-link-btn">
                        <form action="/contact" method="get">
                            <input type="submit" value="Contact Us">
                        </form>
                    </div>
                </div>
            </div>
            <div id="hero-top-container-section">
                <div id="hero-top-container-left-section">
                    <div id="hero-top-container-nav-inside-section">
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading">
                                    <h2>Welcome to SecureVyom - Your Trusted Partner in Cybersecurity</h2>
                                </div>
                                <div class="about-section-para">
                                    <p>At SecureVyom, we specialize in providing world-class Vulnerability Assessment and Penetration Testing (VAPT) services to safeguard your digital assets. With the rapid evolution of cyber threats, your business's security is more critical than ever. SecureVyom is here to ensure your digital environment remains secure, resilient, and compliant with industry standards.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading">
                                    <h2>Who We Are</h2>
                                </div>
                                <div class="about-section-para">
                                    <p>SecureVyom is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="about-main-contain-section faq-main-section">
                            <div class="about-container-section">
                                <h2>Frequently asked questions</h2>
                            </div>
                        </div>
                        <!-- 1st -->
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading faq-heading-section">
                                    <div class="heading-with-icon-flex-box">
                                        <div>
                                            <h3>xyz xyz</h3>
                                        </div>
                                        <div class="drop-down-circle">
                                            <i class="ri-arrow-down-wide-fill"></i>
                                        </div>
                                    </div>
                                    <div class="hidden-faq-section">
                                        <p>SecureVyom is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                                    </div> 
                                </div>                               
                            </div>
                        </div>
                        <!-- 2nd -->
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading faq-heading-section">
                                    <div class="heading-with-icon-flex-box">
                                        <div>
                                            <h3>xyz xyz</h3>
                                        </div>
                                        <div class="drop-down-circle">
                                            <i class="ri-arrow-down-wide-fill"></i>
                                        </div>
                                    </div>
                                    <div class="hidden-faq-section">
                                        <p>SecureVyom is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                                    </div> 
                                </div>                               
                            </div>
                        </div>
                        <!-- 3rd -->
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading faq-heading-section">
                                    <div class="heading-with-icon-flex-box">
                                        <div>
                                            <h3>xyz xyz</h3>
                                        </div>
                                        <div class="drop-down-circle">
                                            <i class="ri-arrow-down-wide-fill"></i>
                                        </div>
                                    </div>
                                    <div class="hidden-faq-section">
                                        <p>SecureVyom is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                                    </div> 
                                </div>                               
                            </div>
                        </div>
                        <!-- 4th -->
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading faq-heading-section">
                                    <div class="heading-with-icon-flex-box">
                                        <div>
                                            <h3>xyz xyz</h3>
                                        </div>
                                        <div class="drop-down-circle">
                                            <i class="ri-arrow-down-wide-fill"></i>
                                        </div>
                                    </div>
                                    <div class="hidden-faq-section">
                                        <p>SecureVyom is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                                    </div> 
                                </div>                               
                            </div>
                        </div>
                        <!-- 5th -->
                        <div class="about-main-contain-section">
                            <div class="about-container-section">
                                <div class="about-section-heading faq-heading-section">
                                    <div class="heading-with-icon-flex-box">
                                        <div>
                                            <h3>xyz xyz</h3>
                                        </div>
                                        <div class="drop-down-circle">
                                            <i class="ri-arrow-down-wide-fill"></i>
                                        </div>
                                    </div>
                                    <div class="hidden-faq-section">
                                        <p>SecureVyom is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                                    </div> 
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
     <script src="/js/aboutPage.js"></script>
</body>
</html>