<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/homeCSS.css">
    <link rel="shortcut icon" href="/img/securevyom-favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
    <title>SecureVyom</title>
</head>
<header>
    <div class="tagline">
        <h2>Secure your future with SecureVyom – Where Security Meets Excellence.</h2>
    </div>
</header>
<body>
    <div id="container">
        <div id="hero-section">
            <div id="nav-bar-section">
                <div id="nav-bar-logo-section">
                    
                </div>
                <div id="nav-bar-page-section">
                    <div class="page-link-btn">
                        <form action="/about" method="get">
                            <input type="submit" value="About us">
                        </form>
                    </div>
                    <div class="page-link-btn">
                        <form action="/services" method="get">
                            <input type="submit" value="Our Services">
                        </form>
                    </div>
                    <div class="page-link-btn">
                        <form action="/contact" method="get">
                            <input type="submit" value="Contact Us">
                        </form>
                    </div>
                </div>
            </div>
            <div id="hero-top-section"></div>
            <div id="hero-bottom-section">
                <div id="content-section">
                    <div id="content-para-box-section">
                        <p>
                            At SecureVyom, we specialize in providing world-class Vulnerability Assessment and Penetration Testing (VAPT) services to safeguard your digital assets. With the rapid evolution of cyber threats, your business's security is more critical than ever. SecureVyom is here to ensure your digital environment remains secure, resilient, and compliant with industry standards.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute-black-page">
        <div class="maintenance-img-section"></div>
        <div>
            <p>website is under maintenance</p>
        </div>
    </div>
</body>
</html>