<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/homeCSS.css">
    <link rel="shortcut icon" href="/img/securevyom-favicon-32x32.png" type="image/x-icon">
    <!-- icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/home-reps.css">
    <title>VyomSecure</title>
</head>
<body>
    <div id="container">
        <!-- hero-section -->
        <div id="hero-back-ground-img-back-container">
            <div id="hero-abso-black-with-trans-container">
                <div id="hero-abso-left-nav-bar-container">
                    <div class="hero-abso-left-nav-bar-logo-section"></div>
                    <div class="hero-abso-left-nav-bar-links-section">
                        <div><i class="ri-linkedin-box-fill"></i></div>
                        <div><i class="ri-twitter-x-fill"></i></div>
                        <div><i class="ri-facebook-box-fill"></i></div>
                        <div><i class="ri-instagram-fill"></i></div>
                        <div><i class="ri-phone-fill"></i></div>
                    </div>
                </div>
                <div id="hero-abso-right-nav-bar-container">
                    <div class="hero-abso-left-nav-bar-menu-section">
                        <div id="humburger"><i class="ri-menu-3-line"></i></div>
                        <div class="menu-circle"></div>
                        <div id="menu-hidden">
                            <ul>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#contact">Contact</a></li>
                                <li><a href="#blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="hero-heading-and-sub-heading-with-para-container">
                    <div id="hero-heading-container">
                        <h1>Welcome to Vyomsecure</h1>
                    </div>
                    <div id="hero-sub-heading-container">
                        <div class="wrapper">
                            <div class="static-txt">Your Trusted Partner in</div>
                            <ul class="dynamic-txts">
                                <li><span>CyberSecurity</span></li>
                                <li><span>Vulnerability Assessment</span></li>
                                <li><span>Penetration Testing</span></li>
                                <li><span>Security Testing</span></li>
                                <li><span>Network Testing</span></li>
                            </ul>
                        </div>
                    </div>
                    <div id="hero-para-container">
                        <p>At VyomSecure, we specialize in providing world-class Vulnerability Assessment and Penetration Testing (VAPT) services to safeguard your digital assets. With the rapid evolution of cyber threats, your business's security is more critical than ever. VyomSecure is here to ensure your digital environment remains secure, resilient, and compliant with industry standards.</p>
                    </div>
                    <div id="hero-abso-circle-container"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="/js/homePage.js"></script>
</body>
</html>