<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/homeCSS.css">
    <link rel="shortcut icon" href="/img/securevyom-favicon-32x32.png" type="image/x-icon">
    <!-- icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/home-reps.css">
    <title>VyomSecure</title>
</head>
<body>
    <div id="container">
        <!-- hero-section -->
        <div id="hero-main-container">
            <div id="hero-absolute-left-fade-img-container"></div>
            <div id="hero-absolute-right-fade-img-container"></div>
            <div id="hero-abolute-website-heading-para-btn-container">
                <div id="hero-main-nav-bar-container">
                    <div id="hero-nav-bar-left-container"></div>
                    <div id="hero-nav-bar-right-container">
                        <div class="nav-bar-links"><p style="color: #1b71ff;" id="home-id">Home</p></div>
                        <div class="nav-bar-links"><p><a href="#about-us">about-us</a></p></div>
                        <div class="nav-bar-links"><p><a href="#our-service">Services</a></p></div>
                        <div class="nav-bar-links"><p><a href="#our-sam">SAM Services</a></p></div>
                        <div class="nav-bar-links"><p><a href="#contact-us">Contact</a></p></div>
                    </div>
                </div>
                <div id="hero-main-circle-img-heading-btn-container">
                    <div id="hero-half-circle-img-container">
                        <div id="half-img"></div>
                    </div>
                    <div id="hero-welcome-heading-text-container">
                        <div id="hero-logo-top-container">
                            
                        </div>
                        <div id="welcome-heading">
                            <h1>Welcome to Vyomsecure</h1>
                        </div>
                        <div id="trusted-para">
                            <p>Your Trusted Partner in CyberSecurity</p>
                        </div>
                    </div>
                    <div id="hero-para-text-container">
                        <div id="para-text">
                            <p>At VyomSecure, we specialize in providing world-class Vulnerability Assessment and Penetration Testing (VAPT) services to safeguard your digital assets. With the rapid evolution of cyber threats, your business's security is more critical than ever. VyomSecure is here to ensure your digital environment remains secure, resilient, and compliant with industry standards.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about-section -->
        <div id="about-main-container">
            <div id="about-absolute-left-fade-img-container"></div>
            <div id="about-absolute-right-fade-img-container"></div>
            <div id="about-absolute-main-container">
                <!-- <div id="about-absolute-main-top-container">
                    <div class="about-main-top-three-box-container">
                        <div class="about-main-top-three-box-container-img-section" id="about-main-top-three-box-container-img-section-id-one"></div>
                        <div class="about-main-top-three-box-container-heading-section">
                            <p>Quality Services</p>
                        </div>
                        <div class="about-main-top-three-box-container-para-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor id aliquam dignissim risus diam dictum. A lectus in ridiculus viverra id ut </p>
                        </div>
                    </div>
                    <div class="about-main-top-three-box-container">
                        <div class="about-main-top-three-box-container-img-section" id="about-main-top-three-box-container-img-section-id-two"></div>
                        <div class="about-main-top-three-box-container-heading-section">
                            <p>Security Innovation</p>
                        </div>
                        <div class="about-main-top-three-box-container-para-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor id aliquam dignissim risus diam dictum. A lectus in ridiculus viverra id ut </p>
                        </div>
                    </div>
                    <div class="about-main-top-three-box-container">
                        <div class="about-main-top-three-box-container-img-section" id="about-main-top-three-box-container-img-section-id-three"></div>
                        <div class="about-main-top-three-box-container-heading-section">
                            <p>Services Complicated</p>
                        </div>
                        <div class="about-main-top-three-box-container-para-section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor id aliquam dignissim risus diam dictum. A lectus in ridiculus viverra id ut </p>
                        </div>
                    </div>
                </div> -->
                <div id="about-absolute-main-bottom-container">
                    <div id="about-absolute-main-bottom-container-left-section">
                        <div id="about-absolute-main-bottom-container-left-section-about-heading">
                            <p id="about-us">About Us</p>
                        </div>
                        <div id="about-absolute-main-bottom-container-left-section-security-heading">
                            <p>Security for your digital products is just a click away with <span style="color: #1b71ff;">VyomSecure.</span></p>
                        </div>
                        <div id="about-absolute-main-bottom-container-left-section-para-section">
                            <p>VyomSecure is a leading cybersecurity firm committed to delivering comprehensive security solutions that identify and eliminate vulnerabilities before they can be exploited. Our team of certified ethical hackers, cybersecurity experts, and seasoned penetration testers work together to ensure that your systems are fortified against the most sophisticated attacks.</p>
                        </div>
                    </div>
                    <div id="about-absolute-main-bottom-container-right-section">
                        <div id="about-absolute-main-bottom-container-right-section-img-circle-section"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our service -->
        <div id="service-main-container">
            <div id="services-heading-para-with-left-container">
                <div id="service-heading-content-container">
                    <div>
                        <p id="our-service" style="color: #1b71ff; font-size: 1.2rem; padding-top: 10px;">Our Services</p>
                    </div>
                    <div>
                        <p style="font-size: 2rem; font-weight: 600;">With Quality services for you</p>
                    </div>
                </div>
            </div>
            <div id="service-multiple-boxs-container">
                <div id="service-multiple-box-top-container">
                    <div class="service-multi-box-top-container">
                        <div class="service-img-section" id="service-multi-box-img-1"></div>
                        <div class="service-heading-section">
                            <p>Vulnerability Assessment</p>
                        </div>
                        <div class="service-para-section">
                            <p>Our Vulnerability Assessment service focuses on identifying, quantifying, and prioritizing security weaknesses in your systems, networks, and applications. We use state-of-the-art tools and methodologies to conduct thorough scans and generate detailed reports that provide insights into the most critical issues facing your infrastructure.</p>
                        </div>
                    </div>
                    <div class="service-multi-box-top-container">
                        <div class="service-img-section" id="service-multi-box-img-2"></div>
                        <div class="service-heading-section">
                            <p>Penetration Testing</p>
                        </div>
                        <div class="service-para-section">
                            <p>Our Penetration Testing simulates real-world attacks on your systems to identify vulnerabilities that hackers could exploit. This service includes both internal and external testing, covering web applications, networks, APIs, and mobile platforms. We adopt both manual and automated testing approaches to ensure nothing is missed.</p>
                        </div>
                    </div>
                    <div class="service-multi-box-top-container">
                        <div class="service-img-section" id="service-multi-box-img-3"></div>
                        <div class="service-heading-section">
                            <p>Web Application Security Testing</p>
                        </div>
                        <div class="service-para-section">
                            <p>Our team assesses your web applications for vulnerabilities, including SQL injection, cross-site scripting (XSS), broken authentication, and other OWASP Top 10 threats. We help secure your applications from end to end, ensuring they comply with the latest security best practices.</p>
                        </div>
                    </div>
                    <div class="service-multi-box-top-container">
                        <div class="service-img-section" id="service-multi-box-img-4"></div>
                        <div class="service-heading-section">
                            <p>Network Security Testing</p>
                        </div>
                        <div class="service-para-section">
                            <p>VyomSecure offers in-depth network security assessments that identify vulnerabilities across your network infrastructure. From routers and switches to firewalls and endpoints, we ensure your entire network is protected against potential threats.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sam-services -->
         <div id="sam-main-container">
            <div id="sam-main-back-ground-left-img-section"></div>
            <div id="sam-main-back-ground-right-img-section"></div>
            <div id="sam-absolute-main-container">
                <div id="sam-absolute-top-sam-container">
                    <div id="sam-abso-left-heading-service-section">
                        <div id="sam-service-heading-section"><p id="our-sam">Our SAM Services</p></div>
                        <div id="sam-heading-section"><p>Software Asset Management </p></div>
                    </div>
                    <div id="sam-abso-right-heading-service-section">
                        <p>Software Asset Management (SAM) helps organizations effectively track, manage, and optimize their software assets throughout their lifecycle. It ensures compliance, minimizes risks, and reduces costs through efficient process and risk management, while enhancing overall operational efficiency and cost optimization.</p>
                    </div>
                </div>
                <div id="sam-absolute-bottom-sam-container">
                    <div id="sam-abso-bottom-left-container">
                        <div class="sam-center-multi-box" style="background: #7766c8;">
                            <div class="sam-center-multi-para-section"><p>Asset<br>Management</p></div>
                            <div class="sam-center-multi-img-section"><i class="ri-settings-3-line"></i></div>
                        </div>
                        <div class="sam-center-multi-box" style="margin-right: 25px; background: #768d8c">
                            <div class="sam-center-multi-para-section"><p>Lifecycle<br>Management</p></div>
                            <div class="sam-center-multi-img-section"><i class="ri-loop-right-line"></i></div>
                        </div>
                        <div class="sam-center-multi-box" style="background: rgb(205, 205, 255);">
                            <div class="sam-center-multi-para-section"><p>Risk<br>Management</p></div>
                            <div class="sam-center-multi-img-section"><i class="ri-alert-line"></i></div>
                        </div>
                    </div>
                    <div id="sam-abso-bottom-center-container">
                        <p>SAM</p>
                    </div>
                    <div id="sam-abso-bottom-right-container">
                        <div class="sam-center-multi-box" style="background: #7766c8;">
                            <div class="sam-center-multi-img-section"><i class="ri-money-rupee-circle-line"></i></div>
                            <div class="sam-center-multi-para-section"><p>Cost<br>Optimization</p></div>
                        </div>
                        <div class="sam-center-multi-box" style="margin-left: 25px; background: #768d8c;">
                            <div class="sam-center-multi-img-section"><i class="ri-verified-badge-line"></i></div>
                            <div class="sam-center-multi-para-section"><p>Compliance</p></div>
                        </div>
                        <div class="sam-center-multi-box" style="background: rgb(205, 205, 255);">
                            <div class="sam-center-multi-img-section"><i class="ri-drag-move-line"></i></div>
                            <div class="sam-center-multi-para-section"><p>Process<br>Management</p></div>
                        </div>
                    </div>
                </div>
                <div id="sam-absolute-faq-container">
                    <div id="sam-faq-heading-section">
                        <h2>Why Choose VyomSecure ?</h2>
                    </div>
                    <div class="sam-faq-heading-with-icon-hidden-para">
                        <div class="sam-faq-heading-with-icon">
                            <div class="sam-faq-heading">
                                <h2>Experienced Professionals</h2>
                            </div>
                            <div class="sam-faq-icon">
                                <i class="ri-arrow-down-line"></i>
                            </div>
                        </div>
                        <div class="sam-faq-hidden-para">
                            <p>Our team comprises certified ethical hackers (CEH), Certified Information Security Managers (CISM), ISO LA 27001-2022, and other industry-recognized experts who bring years of hands-on experience in cybersecurity.</p>
                        </div>
                    </div>
                    <div class="sam-faq-heading-with-icon-hidden-para">
                        <div class="sam-faq-heading-with-icon">
                            <div class="sam-faq-heading">
                                <h2>Cutting-Edge Tools & Techniques</h2>
                            </div>
                            <div class="sam-faq-icon">
                                <i class="ri-arrow-down-line"></i>
                            </div>
                        </div>
                        <div class="sam-faq-hidden-para">
                            <p> We leverage the latest tools and follow globally recognized frameworks such as OWASP, NIST, and ISO 27001 to ensure that our assessments are both comprehensive and up to date.</p>
                        </div>
                    </div>
                    <div class="sam-faq-heading-with-icon-hidden-para">
                        <div class="sam-faq-heading-with-icon">
                            <div class="sam-faq-heading">
                                <h2>Customized Solutions</h2>
                            </div>
                            <div class="sam-faq-icon">
                                <i class="ri-arrow-down-line"></i>
                            </div>
                        </div>
                        <div class="sam-faq-hidden-para">
                            <p>Every business has unique security needs. We tailor our services to meet your specific requirements and ensure that we address the most critical issues impacting your systems.</p>
                        </div>
                    </div>
                    <div class="sam-faq-heading-with-icon-hidden-para">
                        <div class="sam-faq-heading-with-icon">
                            <div class="sam-faq-heading">
                                <h2>Comprehensive Reporting</h2>
                            </div>
                            <div class="sam-faq-icon">
                                <i class="ri-arrow-down-line"></i>
                            </div>
                        </div>
                        <div class="sam-faq-hidden-para">
                            <p>We provide detailed, actionable reports that not only highlight vulnerabilities but also offer recommendations for remediation and mitigation, ensuring that your business is equipped to address any security gaps.</p>
                        </div>
                    </div>
                    <div class="sam-faq-heading-with-icon-hidden-para">
                        <div class="sam-faq-heading-with-icon">
                            <div class="sam-faq-heading">
                                <h2>Ongoing Support</h2>
                            </div>
                            <div class="sam-faq-icon">
                                <i class="ri-arrow-down-line"></i>
                            </div>
                        </div>
                        <div class="sam-faq-hidden-para">
                            <p>Cybersecurity is not a one-time process. We offer continuous monitoring and support to ensure your systems remain secure as new threats emerge.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Commitment to You -->
        <div id="our-commitment-main-container">
            <div id="our-commitment-main-top-container">
                <div id="our-commitment-heading-section">
                    <h2 id="contact-us">Our Commitment to You</h2>
                </div>
                <div id="our-commitment-para-section">
                    <p>At VyomSecure, we understand that trust is the foundation of any business relationship. We are dedicated to maintaining the highest standards of confidentiality, integrity, and professionalism in all of our engagements. Your data and systems are in safe hands with us.</p>
                </div>
            </div>
            <div id="our-commitment-main-bottom-container">
                <div id="our-commitment-main-bottom-left-container"></div>
                <div id="our-commitment-main-bottom-right-container">
                    <div id="form-heading-section">
                        <h2>Get In Touch With Us</h2>
                    </div>
                    <div id="form-section-main-container"></div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer-main-container">
            <div id="footer-main-top-container">
                <div class="footer-main-top-multi-box-container" id="footer-logo-para-link-container">
                    <div id="footer-logo-section"></div>
                    <div id="footer-media-links">
                        <div><a href=""><i class="ri-linkedin-fill"></i></a></div>
                        <div><a href=""><i class="ri-twitter-x-line"></i></a></div>
                        <div><a href=""><i class="ri-instagram-fill"></i></a></div>
                    </div>
                </div>
                <div class="footer-main-top-multi-box-container">
                    <div class="footer-our-service-heading">
                        <p>Pages</p>
                    </div>
                    <div class="footer-our-service-links">
                        <p><a href="#home-id">Home</a></p>
                        <p><a href="#about-us">About Us</a></p>
                        <p><a href="#our-service">Our Services</a></p>
                        <p><a href="#our-sam">SAM Services</a></p>
                        <p><a href="#contact-us">Contact Us</a></p>
                    </div>
                </div>
                <div class="footer-main-top-multi-box-container">
                    <div class="footer-our-service-heading">
                        <p>Contact Us</p>
                    </div>
                    <div class="footer-our-service-links">
                        <div class="footer-icon-with-para-section">
                            <div><i class="ri-phone-line"></i></div>
                            <div><p><a href="tel:+91 7719047522"></a>+91 7719047522</p></div>
                        </div>
                        <div class="footer-icon-with-para-section">
                            <div><i class="ri-mail-line"></i></div>
                            <div><p><a href="mailto:info@vyomsecure.com">info@vyomsecure.com</a></p></div>
                        </div>
                        <div class="footer-icon-with-para-section">
                            <div><i class="ri-map-pin-line"></i></div>
                            <div><p>Bhopal</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-main-bottom-container">
                <p>copyright VyomSecure@2024 all right reserved</p>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="/js/homePage.js"></script>
</body>
</html>