*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: #010d25;
}  

#container {
    width: 100%;
    height: max-content;
    overflow: hidden;
}

#hero-section {
    width: 100%;
    height: 100vh;
}

#nav-bar-section {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    z-index: 999999;
}

#nav-bar-left-section {
    width: 10%;
    height: 10vh;
    background-image: url('../img/home-page-hero-section-imgs/Vyam\ logo-02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#nav-bar-right-section {
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.nav-links {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-links:hover {
    color: #5271ff;
    cursor: pointer;
    border-bottom: 1.5px solid rgb(255, 46, 46);
}

#hero-main-container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-page-hero-section-imgs/pixelcut-export\ \(1\).jpeg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#hero-main-left-container {
    width: 47%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#hero-main-left-container h1 {
    margin-top: 50px;
    font-size: 5.5rem;
}

.Vyomsecure-heading-color {
    color: #5271ff;
}

#hero-section-sub-heading {
    font-size: 1.3rem;
}

.cyber-heading-color {
    color: rgb(255, 46, 46);
}

#para-heading {
    margin-top: 30px;
    align-items: center;
}

#hero-section-contact-btn {
    width: max-content;
    height: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    background-color: #5271ff;
    border-radius: 7px;
}

.btn {
    cursor: pointer;
}

#hero-main-right-container {
    width: 40%;
    height: 100vh;
    background-image: url('../img/home-page-hero-section-imgs/hero-section-2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* card-section */

#card-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-carry-img-para-section {
    width: 25%;
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}  

.card-carry-img-para-section:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-radius: 10px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, purple, red);
    background-size: 400% 400%;
    z-index: 1;
    animation: borderAnimation 3s linear infinite;
}

@keyframes borderAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.card-carry-main-section {
    width: 99%;
    height: 38.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: #010d25;
    border-radius: 7px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
}

.card-img {
    width: 30%;
    height: 13vh;
    margin: 15px;
}

#card-img-one {
    background-image: url('../img/icons/data-security.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#card-img-two {
    background-image: url('../img/icons/cybersecurity.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#card-img-three {
    background-image: url('../img/icons/firewall.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-para {
    margin: 25px;
    margin-top: 10px;
    text-align: center;
}


/* about-section */
#about-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-left-section {
    width: 47%;
    height: max-content;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid yellow; */
}

#about-heading {
    font-size: 1.2rem;
    font-weight: 500;
}

#about-sub-heading {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
}

#about-para {
    margin-top: 30px;
}

#about-right-section {
    width: 40%;
    height: 80vh;
    background-image: url('../img/home-page-hero-section-imgs/about-us.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid yellow; */
}

/* our-services */

#our-services {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
}

#our-services-top-section {
    width: 86%;
    height: max-content;
    margin: 30px;
    margin-top: 120px;
    margin-bottom: 15px;
}

.our-services-heading {
    font-size: 1.2rem;
    font-weight: 500;
}

.our-services-sub-heading {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
}

.our-services-para {
    margin-top: 30px;
}

#our-services-bottom-section {
    width: 86%;
    height: max-content;
    margin: 30px;
    margin-top: 45px;
    margin-bottom: 40px;
}

/* swiper */

.swiper {
    width: 100%;
    height: max-content;
}

.swiper-slide {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.swiper-slide-main-flex-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
    overflow: hidden;
}

.our-services-swiper-img-section {
    width: 40%;
    height: 13vh;
    margin: 10px;
    background-image: url('../img/icons/ssl.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#our-services-swiper-img-one {
    background-image: url('../img/icons/comp.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#our-services-swiper-img-two {
    background-image: url('../img/icons/ssl.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#our-services-swiper-img-three {
    background-image: url('../img/icons/web.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#our-services-swiper-img-four {
    background-image: url('../img/icons/server.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#our-services-swiper-img-five {
    background-image: url('../img/icons/cloud.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.our-services-swiper-heading-section {
    height: 6vh;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 15px;
    color: #5271ff;
}

.our-services-swiper-para-section {
    height: max-content;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

/* swiper-end */



/* our-sam-services */

#our-sam-service-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#our-sam-service-top-section {
    width: 86%;
    height: max-content;
    margin-top: 100px;
}

#our-sam-service-bottom-section {
    width: 86%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 50px;
}

/* sam ui */

.sam-serivce-ui-section {
    width: 35%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

#sam-serivce-ui-left-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#sam-serivce-ui-right-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sam-service-ui-boxs {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
}

.sam-service-ui-boxs-heading {
    margin: 5px;
    margin-left: 15px;
    margin-right: 8px;
}

#sam-serivce-ui-right-section .sam-service-ui-boxs-heading {
    margin-right: 15px;
}

.sam-service-ui-boxs-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-left: 8px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 12px;
    font-size: 1.3rem;
}

#sam-service-ui-boxs-two {
    margin-right: 35px;
}

#sam-service-ui-boxs-five {
    margin-left: 35px;
}

#sam-serivce-ui-centre-section {
    width: 300px;
    height: 300px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 4rem;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
}


/* faq-section */

#faq-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#faq-top-section {
    width: 86%;
    height: max-content;
    margin-top: 100px;
}

#faq-heading {
    font-size: 1.2rem;
    font-weight: 500;
}

#faq-bottom-section {
    width: 86%;
    height: max-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

.faq-animation-heading-with-para-icon {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ease;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
}

.faq-animation-heading-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.faq-animation-heading {
    font-size: 1.3rem;
}

.faq-animation-icon i {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.faq-animation-para {
    padding: 10px;
}

.faq-animation-para {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.faq-animation-para p {
    margin: 5px 0;
    font-size: 16px;
    color: rgb(200, 174, 174);
    line-height: 1.5;
}

/* contact-section */

#contact-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact-mini-section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    flex-wrap: wrap;
}

#contact-left-section {
    width: 40%;
    height: 60vh;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url('../img/icons/contact-img-1.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#contact-right-section {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}

.form-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    overflow: hidden;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: white;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #000e28;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    transition: border-color 0.3s;
    color: white;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #000e28;
    outline: none;
}

.submit-btn {
    background-color: #5271ff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* footer-section */

#footer-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}

.footer-mini-section {
    width: 100%;
    height: max-content;
    padding: 15px;
    border-top: 1.5px solid rgba(255, 255, 255, 0.125);
}

#footer-top-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

#footer-bottom-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.temp {
    width: 100%;
    height: 100vh;
    border: 1px solid rgb(115, 255, 0);
    display: none;
}