*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: black;
}  

a {
    text-decoration: none;
    color: black;
}

#container {
    width: 100%;
    height: max-content;
    overflow: hidden;
}

#hero-back-ground-img-back-container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-page-hero-section-imgs/hero-section-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-abso-black-with-trans-container {
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.647);
}

#hero-abso-left-nav-bar-container {
    width: 8%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
}

.hero-abso-left-nav-bar-logo-section {
    width: 100%;
    height: 15vh;
    background-image: url('../img/home-page-hero-section-imgs/Vyam\ logo-02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-abso-left-nav-bar-links-section {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

i {
    font-size: 1.5rem;
    color: #dbdfe4;
}

i:hover {
    color: white;
    cursor: pointer;
}

#hero-abso-right-nav-bar-container {
    width: 8%;
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
}

.hero-abso-left-nav-bar-menu-section {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* menu */
#humburger {
    cursor: pointer;
    z-index: 10;
}

.menu-circle {
    position: fixed;
    top: 2%;
    right: 1%;
    width: 100px;
    height: 100px;
    background: #000000;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.9s ease-in-out;
    z-index: 5;
}

.menu-circle.active {
    transform: scale(60); /* Scale up to cover the page */
}

#menu-hidden {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    z-index: 10;
}

#menu-hidden ul {
    list-style-type: none;
    text-align: center;
}

#menu-hidden ul li {
    margin: 20px 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#menu-hidden ul li a{
    font-size: 3rem;
    font-weight: 600;
}

#menu-hidden ul li.show {
    opacity: 1;
}

#menu-hidden ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menu-hidden ul li a:hover {
    color: #f39c12;
}

/* When menu is active */
.menu-open #menu-hidden {
    display: block;
}

/* end menu */

#hero-heading-and-sub-heading-with-para-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

#hero-heading-container {
    font-size: 2.4rem;
}

/* write animation */

#hero-sub-heading-container {
    font-size: 0.8rem;
}

.wrapper{
    display: flex;
}

.wrapper .static-txt{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.wrapper .dynamic-txts{
    margin-left: 5px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
}

.dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%{
      top: -100px;
    }
}

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 25px;
}
  
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}
  
@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
} 

/* animation end */

#hero-para-container {
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
}

#hero-abso-circle-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid white;
    position: absolute;
    pointer-events: none; /* So it doesn't block other elements */
    transition: transform 0.1s ease; /* Smooth movement */
    transform: translate(-50%, -50%); /* Center the circle on the cursor */
}