@media (max-width: 320px) {
    #hero-abso-left-nav-bar-container {
        width: 100%;
    }

    .hero-abso-left-nav-bar-logo-section {
        width: 30%;
        height: 10vh;
        margin-top: 20px;
    }

    .hero-abso-left-nav-bar-links-section {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        
    }

    #hero-abso-right-nav-bar-container {
        width: 20%;
    }

    #hero-heading-container {
        font-size: 0.7rem;
    }

    .wrapper .static-txt {
        font-size: 0.8rem;
    }

    .wrapper .dynamic-txts {
        margin-left: 4px;
        font-size: 0.8rem;
        height: 15px;
        line-height: 15px;
    }

    @keyframes slide {
        100%{
          top: -120px;
        }
    }

    .dynamic-txts li span {
        line-height: 15px;
    }

    #hero-abso-circle-container {
        display: none;
    }
}

@media only screen and (min-width: 321px) and (max-width: 390px) {
    #hero-abso-left-nav-bar-container {
        width: 100%;
    }

    .hero-abso-left-nav-bar-logo-section {
        width: 30%;
        height: 10vh;
        margin-top: 20px;
    }

    .hero-abso-left-nav-bar-links-section {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        
    }

    #hero-abso-right-nav-bar-container {
        width: 20%;
    }

    #hero-heading-container {
        font-size: 0.8rem;
    }

    .wrapper .static-txt {
        font-size: 0.8rem;
    }

    .wrapper .dynamic-txts {
        margin-left: 4px;
        font-size: 0.8rem;
        height: 17px;
        line-height: 17px;
    }

    @keyframes slide {
        100%{
          top: -70px;
        }
    }

    .dynamic-txts li span {
        line-height: 17px;
    }

    #hero-para-container {
        width: 90%;
    }

    #hero-abso-circle-container {
        display: none;
    }
}

@media only screen and (min-width: 391px) and (max-width: 425px) {
    #hero-abso-left-nav-bar-container {
        width: 100%;
    }

    .hero-abso-left-nav-bar-logo-section {
        width: 30%;
        height: 10vh;
        margin-top: 20px;
    }

    .hero-abso-left-nav-bar-links-section {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        
    }

    #hero-abso-right-nav-bar-container {
        width: 20%;
    }

    #hero-heading-container {
        font-size: 1rem;
    }

    .wrapper .static-txt {
        font-size: 1rem;
    }

    .wrapper .dynamic-txts {
        margin-left: 5px;
        font-size: 1rem;
        height: 18px;
        line-height: 18px;
    }

    @keyframes slide {
        100%{
          top: -74px;
        }
    }

    .dynamic-txts li span {
        line-height: 18px;
    }

    #hero-para-container {
        width: 90%;
    }

    #hero-abso-circle-container {
        display: none;
    }
}

